body, html {
	background-image: url("imgs/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 100%;
	transition-duration: 1.5s;
}

@media screen and (min-width: 1000px) {

	.main {
		padding-top: 2.5%;
		padding-left:5%;
		padding-right:5%;
		padding-bottom: 1%;
		margin-left: 15%;
		margin-right: 15%;
		background: rgba(0, 0, 0, 0.7);
		color: #ffffff;
		font-family: 'Orbitron', sans-serif;
	}

	.footer {
		width: 100%;
		margin-top: 5%;
		text-align: center;
	}

	.name {
		text-align: center;
		font-size: 2.5em;
		font-family: 'Open Sans', sans-serif;
	}

	.bar {
		width: 75%; 
		margin-bottom: 5%; 
		margin-top: 5%;
	}

	.profile {
		border-radius: 20px;
		height: 15%;
		width: 15%;
		margin-left: 10%;
		margin-bottom: 2.5%;
	}

	.projectImg {
		border-radius: 20px;
		height: 60%;
		width: 60%;
		margin-left: auto;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.columnLeft {
		float: left; 
		width: 45%; 
		margin-right: 4%;
	}

	.columnRight {
		float: left; 
		width: 45%; 
		margin-left: 4%;
	}

	.subColumn {
		float: left; 
		width: 50%;
	}

	.line {
		float: left; 
		margin: auto; 
		width: 1%;
	}

	.vl {
		border-left: 1px solid white;
		height: 450px;
	}

	.info {
		font-size: 1.3em;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-top: 75px;
	}

	.projects {
		text-align: center;
		background: rgba(0, 0, 0, 0);
		color: #ffffff;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.1em;
	}

	.projectInfo {
		font-size: 1.1em;
		padding-bottom: 5%;
	}

	.blockInfo {
		width: fit-content;
		height: auto;
		display: flex;
		margin: 10px;
	}

	.showMobile {
		display: none;
	}

	.githubButton {
		background-color: #fc035e; 
		border: none;
		border-radius: 20px;
		color: white;
		padding: 20px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		font-family: 'Orbitron', sans-serif;
		transition-duration: 0.2s;
		width: 100%;
		margin-top: 30%;
	}	

	.resumeButton {
		background-color: #fc035e; 
		width: 50%;
		border: none;
		border-radius: 20px;
		color: white;
		padding: 20px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		font-family: 'Orbitron', sans-serif;
		transition-duration: 0.2s;
	}	

	.githubButton:hover {
		background-color: #00aaff;
		box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
 }

	.resumeButton:hover {
		background-color: #00aaff;
		box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
	}

}

@media only screen and (max-width: 999px) {
	/* For mobile phones: */
	[class="columnLeft"] {
	  width: 100%;
	}

	.profile {
		display: none;
	}

	.name {
		text-align: center;
		font-size: 2.5em;
		font-family: 'Open Sans', sans-serif;
	}

	.bar {
		width: 75%; 
		margin-bottom: 10%; 
		margin-top: 10%;
	}

	.main {
		padding: 5%;
		background: rgba(0, 0, 0, 0.7);
		color: #ffffff;
		font-family: 'Orbitron', sans-serif;
	}

	.profile {
		border-radius: 20px;
		height: 25%;
		width: 25%;
	}

	.projects {
		text-align: center;
		background: rgba(0, 0, 0, 0);
		color: #ffffff;
		padding-bottom: 5%;
	}

	[class="p"] {
		width: 100%;
		text-align: center;
	 }

	.blockInfo {
		width: fit-content;
		height: auto;
		
	}

	.projectInfo {
		font-size: 1.1em;
		padding-bottom: 5%;
		text-align: left;
	}

	.projectImg {
		border-radius: 20px;
		height: 50%;
		width: 50%;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}

	.showMobile {
		width: 75%; 
		margin-bottom: 10%;
		margin-top: 10%;
	}

	.resumeButton {
		background-color: #fc035e; 
		width: 100%;
		border: none;
		border-radius: 20px;
		color: white;
		padding: 20px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		font-family: 'Orbitron', sans-serif;
		transition-duration: 0.2s;
		margin-top: 10%;
	}	
	
	.footer {
		width: 100%;
		margin-top: 5%;
		text-align: center;
	}

	.githubButton {
		background-color: #fc035e; 
		border: none;
		border-radius: 20px;
		color: white;
		padding: 20px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		font-family: 'Orbitron', sans-serif;
		transition-duration: 0.2s;
		width: 100%;
		margin-top: 10%;
	}
 }


